:root {
  --black: #27251f;
  --orange: #fd5a1e;
  --gold: #ae8f6f;
  --beige: #efd19f;
  --divider: url(../images/svg/wave1.svg);
  --divider-reverse: url(../images/svg/wave1-reverse.svg);
  --divider-gold: url(../images/svg/wave-gold.svg);
  --divider-gold-reverse: url(../images/svg/wave-gold-reverse.svg);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  color: #fff;
  background: var(--black);
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: -40px 0;
  min-height: 300px;
}

p a {
  color: var(--beige);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p a:hover {
  text-decoration: underline;
}

.headshot {
  width: 150px;
  max-width: 100%;
  height: auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: transparent;
  transition: 500ms;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 300ms;
}

hr {
  width: 0;
  border: 0;
  height: 2px;
  margin-bottom: 20px;
  background: #fff;
  transition: 1s;
}

/* Utility classes */
.is-circle {
  border-radius: 50%;
}

.absolute {
  position: absolute;
}

.orange {
  background: var(--orange);
}

.black {
  background: var(--black);
}

.beige {
  background: var(--beige);
}

.gold {
  background: var(--gold);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  vertical-align: text-top;
}

/* Divider styles */
.divider {
  background: var(--divider) no-repeat center;
}

.divider-reverse {
  background: var(--divider-reverse) no-repeat center;
}

.divider-gold {
  background: var(--divider-gold) no-repeat center;
}

.divider-gold-reverse {
  background: var(--divider-gold-reverse) no-repeat center;
}

.divider {
  background-size: cover;
  width: 100%;
  height: 300px;
}

.flip {
  transform: rotateX(180deg);
}

/* Project styles */
.project-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: ;
}

.project-links a {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.project-links a:hover {
  background: #fff;
  color: var(--black);
}

.project-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.project-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1080px;
  margin: auto;
  gap: 20px;
  padding: 20px;
}

.project {
  padding: 20px;
  border-radius: 10px;
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 500ms;
}

.project p {
  min-height: 4rem;
}

.active-project {
  background: var(--gold);
}

.active-project hr {
  width: 100%;
}

/* Code wrappers */
.code-wrapper {
  display: inline-block;
  transition: 300ms;
  transition: color 0;
}

.code-wrapper:hover {
  -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.code-wrapper::before,
.project h2::before {
  content: "< ";
  opacity: 0;
  transition: color 0, opacity 300ms;
}

.code-wrapper::after,
.project h2::after {
  content: " />";
  opacity: 0;
  transition: color 0, opacity 300ms;
}

.code-wrapper:hover::before,
.active-project h2::before {
  opacity: 1;
}

.code-wrapper:hover::after,
.active-project h2::after {
  opacity: 1;
}

.anchor {
  display: block;
  position: relative;
  top: -75px;
  height: 0;
  visibility: hidden;
}

#nav-blob {
  max-height: 50vw;
}

.nav,
.nav a,
.project-links a {
  text-transform: uppercase;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
  transition: 300ms;
  transition: height 1s;
  animation: drop-in 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes drop-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.container-sm {
  width: 100%;
  max-width: 600px;
}

.nav-border {
  grid-column: span 2;
  height: 0px;
  background: transparent;
  transition: 500ms;
}

.nav-border-scroll {
  height: 2px;
  width: 100%;
  background: #fff;
}

.header-scroll {
  background-color: var(--black);
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1080px;
  margin: 0 auto;
}

/* .headshot {
  animation: fade-in 4s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.fas {
  display: none !important;
  cursor: pointer;
}

.mobile-links {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-right: 1rem;
  border-radius: 10px;
  position: fixed;
  transform: translateX(120%);
  text-align: right;
  transition: 0.5s;
  list-style: none;
  top: 32px;
  line-height: 3rem;
  left: calc(100% - 8rem);
}

.mobile-links a {
  color: #fff;
}

.tag {
  font-size: 1.5em;
  width: auto;
  color: #fff;
}

.project a i {
  margin: 0 0.5rem;
}

.django {
  height: 1.5rem;
}

.tags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.skill {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem auto;
  grid-gap: 2rem;
  align-items: center;
  text-align: right;
  color: #fff;
}

.level {
  height: 1.5rem;
  width: 0;
  transition: 1s;
  background-color: var(--orange);
}

#skills {
  margin: auto;
}

#name {
  font-family: "Luckiest Guy", display;
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--gold);
}

#resume {
  width: 100%;
  max-width: 600px;
  display: grid;
  justify-content: flex-start;
  background-color: var(--beige);
}

#resume h3,
h4,
h5 {
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .nav {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    padding: 0 20px;
  }
}

@media screen and (max-width: 816px) {
  .fas {
    display: inline-block !important;
  }
  .menu-open {
    transform: translateX(0);
  }
  .project-section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .anchor {
    top: -101px;
  }
  .landing {
    align-items: center;
  }
  .nav-links {
    display: none;
  }
  .logo {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .nav {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .project-links {
    display: grid;
    gap: 1rem;
  }
}

@media screen and (min-width: 1441px) {
  .nav {
    padding: 0 calc(50vw - 720px);
  }
}
